.cabecalho {
  background-color: #2F4F4F;
  color: #fff;

}


.cabecalho ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f4f4f;
}
 
.cabecalho li{
    /*display: inline;*/
    float: left;
}

.cabecalho li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cabecalho li a:hover{
 background-color: #111 ;
}

.rodape {
    background-color: #2F4F4F;
    color: #fff; 
}

.rodape ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f4f4f;
}

.rodape li{
    /*display: inline;*/
    float: left;
}

.rodape li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.rodape li a:hover{
 background-color: #111 ;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #fff;
}


form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.carrossel{
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 250px;
    width: 250px;
}

.container{
    display: flex;
    transition: transform 0.5 ease-in-out;
    transform: translateX(0);
}
img{
    object-fit: cover;
    height: 250px;
    width: 250px;
}





/* Adicione estilos adicionais conforme necessário */